body {
    margin:0;
    background: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
}
/* -----  metoda 3 --------*/
#obraz3:hover {
    content: url("img/abw.jpg");
} 

/* tu zmienia się obrazek tylko w czasie kliknięcia */
#obraz3:active {
    content: url("img/a.jpg");
} 
